.navbar{
    background-color: #2F4164;
    height: 65px;
    font-family: 'Poppins', sans-serif;
}

.link-home{
    color: white;
    font-weight: light;
    font-weight: 500;
}
.link-home:hover{
    color:#1C273C
}

.nav-item a{
    text-decoration: none ;
    font-size: 16px;
    color: white;
}
.nav-item a:hover{
    color:#1C273C;
}